<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <script>window.$ = window.jQuery = require('../../assets/jquery.min.js');</script>
    <script src="../../assets/bootstrap/bootstrap.js"></script>
</head>

<body>
    <div class="container">
        <a href="../gameMenu/gameMenu.html">
            <button id="back-btn" type="button" class="btn btn-secondary">
                <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24" height="24" viewBox="0 0 24 24"><path d="M0 12l9-8v6h15v4h-15v6z"/></svg>
                </span>
                Back
            </button>
        </a>
        <div class="g4-instruction-container">
            <div class="g4-instruction-title-container">
                <h3 class="g4-instruction-title">IOWA gambling</h3>
            </div>
            <div class="g4-instructions-content">
                <p class="g4-instructions"></p>
            </div>
            <a href="./IOWAgambling.html">
                <div class="start-g4-btn">
                    <button id="start-btn" type="button" class="btn btn-primary start-g4-btn col-md-3">Start</button>
                </div>
            </a>
        </div>
    </div>
    <script src="instructions.js"></script>
</body>

</html>