<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="../../common.css">
  <script>window.$ = window.jQuery = require('../../assets/jquery.min.js');</script>
  <script src="../../assets/bootstrap/bootstrap.js"></script>
</head>

<body>
  <div class="final-modal-container">
    <div class="finish-modal">
      <img id="close-modal-btn" src="../../assets/close.png" class="close-img">     
      <div class="modal-cont">
        <p class="modal-content-text">You are done with the game. Do you want to export the result to CSV ?</p>
      </div>
      <div class="modal-btns">
        <button id="exit-btn" type="button" class="btn btn-danger modal-btn">Exit</button>
          <button id="export-btn" type="button" class="btn btn-primary modal-btn export-btn">Export to CSV</button>
      </div>
    </div>
  </div>
  <div class="board">
    <div class="end-game-btn-container">
        <img id="end-game-btn" src="../../assets/close.png" class="close-img">
    </div>
    <div class="container con">
      <div class="emoji-container emoji-container1">
        <div class="money-stack"></div>
        <div class="emoji-symbol"><span class="pm-symbol">+</span><span class="amount-gain-loss">₹100</span></div>
      </div>

      <div class="emoji-container emoji-container2">
        <div class="money-stack"></div>
        <div class="emoji-symbol"><span class="pm-symbol">-</span><span class="amount-gain-loss">₹100</span></div>
      </div>
      <div class="cash-left"><img id="moneybag" src="../../assets/money-bag_rs.png"></img><span class="cash">2000</span></div>
      <div class="iowa-cards">
        <div class="row">
          <div class="col-sm-3">
            <div id="card1" class="iowa-card">
              <div class="iowa-card-text">
                A
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="card2" class="iowa-card">
              <div class="iowa-card-text">
                B
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="card3" class="iowa-card">
              <div class="iowa-card-text">
                C
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="card4" class="iowa-card">
              <div class="iowa-card-text">
                D
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="IOWAGambling.js"></script>
</body>
</html>