<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script>window.$ = window.jQuery = require('../../assets/jquery.min.js');</script>
  <script src="../../assets/bootstrap/bootstrap.js"></script>
</head>

<body>
  <div class="board">
    <div class="container con">
      <div class="cash-left">CASH: <span>2000</span></div>
      <div class="iowa-cards">
        <div class="row">
          <div class="col-sm-3">
            <div id="card1" class="iowa-card">
              <div class="iowa-card-text">
                A
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="card2" class="iowa-card">
              <div class="iowa-card-text">
                B
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="card3" class="iowa-card">
              <div class="iowa-card-text">
                C
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="card4" class="iowa-card">
              <div class="iowa-card-text">
                D
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="IOWAGambling.js"></script>
</body>

</html>