html, body{
    user-select: none;
    height: 100%;
    padding: 0;
    margin: 0; 
}
 
.board {
    background-color: #07512a;
    height: 100vh;
    border: 15px #9e5a15 solid;
    box-sizing: border-box;
    width: 100%;
}


#end-game-btn:hover {
    opacity: 0.9;
}

.cash-left{
    margin-top: 16px;
    font-size: 48px;
    color: #ffffff;
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-left: 3%;
}

.iowa-card{
    background-image: url('../../assets/card.svg');
    background-position: center center;
    height: 20vw;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size : 3em;
    cursor: pointer;
}

.iowa-cards{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.iowa-card:hover{
    opacity: 0.7;
}

.con{
    height: 96%;
    position: relative;
}
.end-game-btn-container {
    width: 100%;
    position: relative;
    display: inline-block;
    float: right;
    margin: 0.7%;
}

.iowa-card-text{
    position: absolute;
    left: 47%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.money-stack {
    background-image: url(../../assets/money_stack.png);
    width: 6vw;
    height: 6vw;
    background-size: cover;
    float: right;
    position: relative;
    left: 40px;
}

.emoji-container{
    width: 10vw;
    height: 10vw;
    max-width: 150px;
    max-height: 150px;
    position: absolute;
    background-image: url(../../assets/profit.png);
    background-size: cover;
    display: none;
    top: 40%;
}

.emoji-container1{
    left: 25%;
    transform: translate(-50%, -50%);
}

.emoji-container2{
    left: 75%;
    transform: translate(-50%, -50%);
}

.emoji-symbol{
    font-size: 3em;
    position: absolute;
    left: 70%;
    bottom: -10%;
    color: #ffffff;
    display: inline-block;
}

.modal-cont{
    text-align: center;
    background-color: #f5f5f5;
    font-size: 1.3em;
}

.modal-btns{
    text-align: center;
}

.final-modal-container{
    display: none;
}

.final-modal-container-info{
    display: none;
}

.final-modal-container:after{
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    z-index: 9;
}

#moneybag {
    width: 40px;
    position: relative;
    bottom: 5px;
    margin-right: 16px;
}

.finish-modal{
    width: auto;
    height: auto;
    background-color: #f5f5f5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 10;
}

#close-modal-btn{
    margin: 16px;
}

.close-img{
    width: 25px;
    cursor: pointer;
    float: right;
    margin: 0.7%;
}

.modal-btns{
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
}
.modal-cont{
    text-align: center;
    background-color: #f5f5f5;
    font-size: 1.3em;
    padding: 32px;
    border-radius: 8px;
}