<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <script>window.$ = window.jQuery = require('../../assets/jquery.min.js');</script>
    <script src="../../assets/bootstrap/bootstrap.js"></script>
</head>

<body>

    <div class="modal-container">
        <div class="f-modal">
            <div class="modal-cont">
                <p class="modal-content-text">You are done with this set, press the spacebar only when you see a happy face, do not
                        respond when you see any other emotion.</p>
            </div>
            <div class="modal-btns">
                <button id="export-btn" type="button" class="btn btn-primary modal-btn continue-btn col-md-4">Continue</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="quadrant quadrant1">

                </div>
            </div>
            <div class="col-6">
                <div class="quadrant quadrant2">

                </div>
            </div>
            <div class="col-6">
                <div class="quadrant quadrant3">

                </div>
            </div>
            <div class="col-6">
                <div class="quadrant quadrant4">

                </div>
            </div>
        </div>
    </div>
    <script src="goNoGo.js"></script>
</body>

</html>