<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <script>window.$ = window.jQuery = require('../assets/jquery.min.js');</script>
    <script src="../assets/bootstrap/bootstrap.js"></script>
</head>

<body>
    <div class="header-container">
        <h2>Electron</h2>
    </div>
    <div class="container game-container">
        <div class="row">
            <div class="col-4">
                <div class="game-item">

                </div>
            </div>
            <div class="col-4">
                <div class="game-item">

                </div>
            </div>
            <div class="col-4">
                <div class="game-item">

                </div>
            </div>
            <div class="col-4">
                <div class="game-item">

                </div>
            </div>
            <div class="col-4">
                <div class="game-item">

                </div>
            </div>
            <div class="col-4">
                <div class="game-item">

                </div>
            </div>
        </div>
    </div>
</body>

</html>