body{
    background-color: #E3F2FD;
}

.header-container{
    background-color: #2196F3;
    text-align: center;
    padding: 16px;
}
.game-item{
    background-color: #1e678a;
    height: 200px;
    margin: 8px;
    border-radius: 5px;
}

.game1{
    background-image: url('https://cdn0.iconfinder.com/data/icons/happy-3/68/happy_emotion_search_find_scan_statystics_analytics_data-512.png');
    background-size: cover;
}

.game-container{
    
}