<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <script>window.$ = window.jQuery = require('../../assets/jquery.min.js');</script>
    <script src="../../assets/bootstrap/bootstrap.js"></script>
</head>

<body>
    <div class="final-modal-container">
        <div class="finish-modal">
                <button id="close-modal-btn" type="button" class="btn btn-secondary btn-sm">close</button>
            <div class="modal-cont">
                <p class="modal-content-text">You are done with the game. Do you want to export the result to CSV ?</p>
            </div>
            <div class="modal-btns">
                <button id="exit-btn" type="button" class="btn btn-primary modal-btn">Exit</button>
                <button id="export-btn" type="button" class="btn btn-primary modal-btn export-btn">Export to CSV</button>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="col-sm-12">
            <div class="end-game-btn-container">
                <button type="button" id="end-game-btn" class="btn btn-secondary ">Exit</button>
            </div>
            <div class="image-and-button">
                <div class="image-container">
                    <div class="image-box">

                    </div>
                </div>
                <div class="button-container">
                    <div class="emotion-buttons">
                        <button type="button" id="JOY" class="emotion-button btn btn-dark col-sm-3">JOY</button>
                        <button type="button" id="SADNESS" class="emotion-button btn btn-dark col-sm-3">SADNESS</button>
                        <button type="button" id="ANGER" class="emotion-button btn btn-dark col-sm-3">ANGER</button>
                        <button type="button" id="NEUTRAL" class="emotion-button btn btn-dark col-sm-3">NEUTRAL</button>
                        <button type="button" id="DISGUST" class="emotion-button btn btn-dark col-sm-3">DISGUST</button>
                        <button type="button" id="FEAR" class="emotion-button btn btn-dark col-sm-3">FEAR</button>
                        <button type="button" id="SURPRISE" class="emotion-button btn btn-dark col-sm-3">SURPRISE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="gameSpotEmotion.js"></script>
</body>

</html>