<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script>window.$ = window.jQuery = require('../../assets/jquery.min.js');</script>
  <script src="../../assets/bootstrap/bootstrap.js"></script>
</head>

<body>
  <div class="header-container">
      <h2>AFCO</h2>
  </div>
  <div class="container game-container">
    <div class="row game-card-container">
      <div class="col-4">
        <div class="game-item" id="game1">
          <span class="csv-button" id="gameCSV1">
            <?xml version="1.0" ?><svg height="44" viewBox="0 0 24 24" width="44" xmlns="http://www.w3.org/2000/svg"><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/><polyline fill="none" points="16 6 12 2 8 6" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/><line fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" x1="12" x2="12" y1="2" y2="15"/></svg>
          </span>
          <h3 class="game-text game-text1">Emotion Recognition</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="game-item" id="game2">
            <span class="csv-button" id="gameCSV2"></span>
            <h3 class="game-text game-text2">Affective Go-No-Go</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="game-item" id="game3">
            <span class="csv-button" id="gameCSV3"></span>
            <h3 class="game-text game-text3">Word Affective Go–No-Go</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="game-item" id="game4">
            <span class="csv-button" id="gameCSV4"></span>
            <h3 class="game-text game-text4">IOWA Gambling</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="game-item" id="game5">
          <span class="csv-button" id="gameCSV5"></span>
        </div>
      </div>
      <div class="col-4">
        <div class="game-item" id="game6">
          <span class="csv-button" id="gameCSV6"></span>
        </div>
      </div>
    </div>
  </div>
  <script src="gameMenu.js"></script>
</body>

</html>