<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script>window.$ = window.jQuery = require('../../assets/jquery.min.js');</script>
  <script src="../../assets/bootstrap/bootstrap.js"></script>
</head>

<body>
  <div class="header-container">
    <h2>AFCO</h2>
  </div>
  <div class="container game-container">
    <div class="row game-card-container">
      <div class="col-4">
        <div class="game-item" id="game1">
          <div class="csv-button" id="gameCSV1">
            <svg fill="#ffffff" id="exp-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z" /></svg>
          </div>
          <h3 class="game-text game-text1">Emotion Recognition</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="game-item" id="game2">
          <div class="csv-button" id="gameCSV2">
            <svg fill="#ffffff" id="exp-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z" />
            </svg>
          </div>
          <h3 class="game-text game-text2">Affective Go-No-Go</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="game-item" id="game3">
          <div class="csv-button" id="gameCSV3">
            <svg fill="#ffffff" id="exp-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z" />
            </svg>
          </div>
          <h3 class="game-text game-text3">Word Affective Go–No-Go</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="game-item" id="game4">
          <div class="csv-button" id="gameCSV4">
            <svg fill="#ffffff" id="exp-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z" />
            </svg>
          </div>
          <h3 class="game-text game-text4">IOWA Gambling</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="game-item" id="game5">
          <span class="csv-button" id="gameCSV5"></span>
        </div>
      </div>
      <div class="col-4">
        <div class="game-item" id="game6">
          <span class="csv-button" id="gameCSV6"></span>
        </div>
      </div>
    </div>
  </div>
  <script src="gameMenu.js"></script>
</body>

</html>