<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <script>window.$ = window.jQuery = require('../../assets/jquery.min.js');</script>
    <script src="../../assets/bootstrap/bootstrap.js"></script>
</head>

<body>
    <div class="header-container">
        <h2>AFCO</h2>
    </div>
    <div class="container game-container">
        <div class="row game-card-container">
            <div class="col-4">
                <a href="../gameSpotEmotion/instructions.html">
                    <div class="game-item" id="game1">
                        <h3 class="game-text game-text1">Emotion Recognition</h3>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="../goNoGo/instruction.html">
                    <div class="game-item" id="game2">
                        <h3 class="game-text game-text2">Face Reaction</h3>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <div class="game-item" id="game3">
                    <h3 class="game-text game-text3">Word Reaction</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="game-item" id="game4">
                    <h3 class="game-text game-text4">IOWA Gambling</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="game-item" id="game5">

                </div>
            </div>
            <div class="col-4">
                <div class="game-item" id="game6">

                </div>
            </div>
        </div>
    </div>
    <script src="gameMenu.js"></script>
</body>

</html>