html, body{
    user-select: none;
    height: 100%;
    padding: 0;
    margin: 0; 
}

.u-score{
    margin: 0px;
    padding: 0px;
}

.g6-instruction-title-container{
    text-align: center;
    margin: 32px;
}

#you-img{
    width: 40px;
}

#opponent-img{
    width: 40px;
}

.g6-instructions-content{
    text-align: center;
    margin: 32px;
    font-size: 1.3em;
}

.g6-instruction-container{
    z-index: 1;
    min-width: 600px;
    width: auto;
    height: auto;
    background-color: #f5f5f5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.start-g6-btn{
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

#back-btn{
    margin-top: 32px;
    z-index: 1000;
}

.trialContainer {
	text-align: center;
	margin-top: 15%;
}

#subText {
	margin-top: 25px;
	opacity: 0.7;
}

.buttons {
	margin-top: 5%;
}

.btn-seperator {
	margin-left: 25px;
    margin-right: 25px;
    font-weight: bold;
    font-size: 25px;
}

.adjusting-btn {
	padding: 10px;
	font-weight: bold;
	font-size: 25px;
}

#question {
	font-weight: bold;
}

.result-modal-btns{
    text-align: center;
}

.end-game-btn-container {
    padding-top: 16px;
    padding-left: 16px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.modal-cont{
    text-align: center;
    background-color: #f5f5f5;
    font-size: 1.3em;
}

.modal-btns{
    text-align: center;
}

.final-modal-container{
    display: none;
}

.final-modal-container-info{
    display: none;
}

.result-modal-container{
    display: none;
}

.final-modal-container:after{
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    z-index: 9;
}

.result-modal-container:after{
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    z-index: 9;
}

.finish-modal{
    width: auto;
    height: auto;
    background-color: #f5f5f5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 5px; */
    z-index: 10;
    padding: 32px;
}

.result-modal{
    width: auto;
    height: auto;
    background-color: #f5f5f5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 5px; */
    z-index: 10;
    padding: 32px;
}

.spinner{
    display: none;
}


.score{
    position: absolute;
    right: 0;
    padding: 32px;
    font-size: 1.4em;
    font-weight: 500;
}

.pts{
    display: inline-block;
}

.instruction3-img{
    background-image: url('../../assets/instruction3-img.png');
    height: 40vh;
    background-size: cover;
    width: 100%;
}

#close-modal-btn{
    margin-bottom: 16px;
}