<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../common.css">
    <script>window.$ = window.jQuery = require('../../assets/jquery.min.js');</script>
    <script src="../../assets/bootstrap/bootstrap.js"></script>
</head>

<body>
    <div class="container">
        <a href="../gameMenu/gameMenu.html">
            <button id="back-btn" type="button" class="btn btn-secondary game-back-btn">
                Back
            </button>
        </a>
        <div class="instruction-container">
            <div class="game-instruction-title-container">
                <h3 class="g5-instruction-title">5-Trial Adjusting Delay Discounting Task</h3>
            </div>
            <div class="game-instructions-content">
                <p class="g5-instructions"></p>
            </div>
            <a href="./delayDiscounting.html">
                <div class="start-game-btn">
                    <button id="start-btn" type="button" class="btn btn-primary col-md-3">Start</button>
                </div>
            </a>
        </div>
    </div>
    <script src="instructions.js"></script>
</body>

</html>